<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <div class="col-md-12 mt-5 mb-1">
                <a href="/survey/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Create Survey
                </a>
            </div>

            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-7">Survey Name</th>
                    <th class="text-center col-2">Status</th>
                    <th class="text-center col-3">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->
                <% for (let count = 0; count < SurveyList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-7"><%= SurveyList[count].title %></td>
                        <td class="text-center col-2"><%= SurveyList[count].status %></td>
                        <td class="text-center col-3">
                            <% if (SurveyList[count].status !== 'ACTIVE' && SurveyList[count].status !== 'CLOSED') { %>
                                <a href="/survey/edit/<%= SurveyList[count]._id %>" class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i> Edit</a>
                            <% } %>
                            <% if (SurveyList[count].status !== 'CREATED') { %>
                                <a href="/survey/report/<%= SurveyList[count]._id %>" class="btn btn-primary btn-sm">
                                    <i class="fas fa-file-export"></i> Report</a>
                            <% } %>
                            
                            <a href="/survey/delete/<%= SurveyList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
        
    </div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
