<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>  

<!--C Content for the Edit Page-->
<script type="text/javascript">

    let Test = "";
    function addYesNoQuestion() {
        let questionsDiv = document.getElementById("questions");
        let questionCount = parseInt(document.getElementById('questionCounter').value, 0);
        let counter = questionCount + 1;


        //Create Div
        let div = document.createElement('div');
        div.id = counter;

        //Create Input for Question
        let input = document.createElement("input");
        input.id = "question" + counter;
        input.type = "text";
        input.name = "question" + counter;
        input.className = "form-control";

        let inputType = document.createElement("input");
        inputType.id = "type" + counter
        inputType.type = "hidden";
        inputType.name = "type" + counter;
        inputType.value = "YN";

        //Create Label
        let label = document.createElement("Label");
        label.setAttribute("for", "Question" + counter);
        label.setAttribute("questionType", "yesno");
        label.innerHTML = "Question" + counter + "\n";
        label.setAttribute("questiontype", "YN" + counter)


        //Create Line Break
        let br1 = document.createElement("br");
        let br2 = document.createElement("br");

        //create delete button
        let deleteButton = document.createElement('button')
        deleteButton.className = "btn btn-danger"
        deleteButton.innerHTML = '<i class="fas fa-trash-alt"></i>';
        deleteButton.id = counter;
        deleteButton.type = "button"
        deleteButton.setAttribute("onclick", "deleteDiv(" + counter + ")");
        deleteButton.setAttribute("style", "float:right");

        //Append to Div
        div.appendChild(label);
        div.appendChild(br1);
        div.appendChild(input);
        div.appendChild(inputType);
        div.appendChild(deleteButton);
        div.appendChild(br2);
        questionsDiv.appendChild(div);
        counter++;
        incrementQuestionCounter(1);
        buildTypeString(0);
    }

    function addShortQuestion() {
        let questionsDiv = document.getElementById("questions");
        let questionCount = parseInt(document.getElementById('questionCounter').value, 0);
        let counter = questionCount + 1;

        //Create Div
        let div = document.createElement('div');
        div.id = counter;

        //Create Label
        let labelQuestion = document.createElement("Label");
        labelQuestion.setAttribute("for", "Question" + counter);
        labelQuestion.innerHTML = "Question " + counter;
        labelQuestion.name = "question" + counter;
        labelQuestion.setAttribute("questiontype", "short" + counter);

        let br1 = document.createElement("br");

        //Create Input
        let inputQuestion = document.createElement("input");
        inputQuestion.id = "question" + counter
        inputQuestion.type = "text";
        inputQuestion.className = "form-control";
        inputQuestion.name = "question" + counter;

        let inputType = document.createElement("input");
        inputType.id = "type" + counter
        inputType.type = "hidden";
        inputType.name = "type" + counter;
        inputType.value = "short"

        //create delete button
        let deleteButton = document.createElement('button')
        deleteButton.className = "btn btn-danger"
        deleteButton.innerHTML = '<i class="fas fa-trash-alt"></i>';
        deleteButton.id = counter;
        deleteButton.type = "button"
        deleteButton.setAttribute("onclick", "deleteDiv(" + counter + ")");
        deleteButton.setAttribute("style", "float:right");

        //Append to Div
        div.appendChild(labelQuestion);
        div.appendChild(br1);
        div.appendChild(inputQuestion);
        div.appendChild(inputType);
        div.appendChild(deleteButton);
        div.appendChild(br1);
        questionsDiv.appendChild(div);
        counter++;
        incrementQuestionCounter(1);
        buildTypeString(1);
    }

    function deleteDiv(question) {
        let questionCount = parseInt(document.getElementById('questionCounter').value, 0);
        let counter = questionCount
        let parentDiv = document.getElementById("questions");
        let questionsDiv = document.getElementById(question);
        questionsDiv.remove();
        counter--;
        incrementQuestionCounter(0);
        buildTypeString(3);
    }

    function incrementQuestionCounter(bool) {
        let value = parseInt(document.getElementById('questionCounter').value, 0);
        value = isNaN(value) ? 0 : value;
        if(bool == 1){
            value++;
        }
        else{
            value--;
        }
        document.getElementById('questionCounter').value = value;
    }

    function buildTypeString(bool) {
        let value = document.getElementById('questionType').value;
        switch(bool) {
            case 0:
                value = value + "YN,";
                break;
            case 1:
                value = value + "short,";
                break;
            default:
                let oldValue = value.split(",")
                value = oldValue.slice(0, oldValue.length - 2).join(",") + ",";
                if(value == ","){
                    value = " ";
                }
            }
        document.getElementById('questionType').value = value;
    }

 </script>

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form method="POST" class="form">
                <div class="form-group">
                    <label for="titleTextField">Title</label>
                    <input type="text" class="form-control"
                    id="titleTextField" placeholder="Enter the Survey Title"
                    name="title" required
                    value="<%= survey.title %>">
                </div>
    
                <div class="form-group">
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField" placeholder="Enter the Survey Name"
                    name="name" required
                    value="<%= survey.name %>">
                </div>
    
                <div class="form-group">
                    <label for="descriptionTextField">Description</label>
                    <input type="text" class="form-control"
                    id="descriptionTextField" placeholder="Enter the Survey Description"
                    name="description" required
                    value="<%= survey.description %>"/>
                </div>
                <div class="form-group" id="questions">
                    <% let qArray = survey.questions %> 
                    <% for (let i = 0; i < qArray.length; i++) { %>
                        <input type="hidden" class="form-control" value="<%- qArray[i].questionTitle %>" 
                            id="questionsTitle" name="qTitle<%-i%>" placeholder="Questions array">
                        <div class="mx-4" id="<%= i + 1 %>" style="padding-bottom: 60px;">
                            <% if (qArray[i].type == "YN") { %>  
                                    <div class="form-group" style="padding-top: 20px;">
                                    <label for="question<%= i + 1 %>">Question<%= i + 1 %></label>
                                    <input type="text" class="form-control" id="question<%= i + 1 %>" name="question<%= i + 1 %>" 
                                    value="<%- qArray[i].questionTitle %>" required>
                                    <input type="hidden" class="form-control" value="<%- qArray[i].type %>" 
                                    id="questionType" name="type<%= i + 1%>" placeholder="Type array">
                                    <a style="float: right;" onclick="deleteDiv(<%= i + 1 %>)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            <% } else { %>
                                <% console.log(qArray[i].type) %>  
                                <div class="form-group" style="padding-top: 10px;">
                                    <label for="question<%= i + 1%>">Question<%= i + 1 %></label>
                                    <input type="text" class="form-control" id="textInput" name="question<%= i + 1 %>" value="<%- qArray[i].questionTitle %>"
                                     size="40" required>
                                    <input type="hidden" class="form-control" value="<%- qArray[i].type %>" 
                                    id="questionType" name="type<%= i + 1%>" placeholder="Type array">
                                    <a style="float: right;" onclick="deleteDiv(<%= i + 1%>)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <div style="display: none;">
                    <div class="form-group">
                        <label for="createdDateTextField">Created Date</label>
                        <input type="text" class="form-control"  disabled="true"
                        id="createdDateTextField"
                        name="createdDate"
                        value="<%= survey.createdDate %>"/>
                    </div>
        
                    <div class="form-group">
                        <label for="editedDateTextField">Edited Date</label>
                        <input type="text" class="form-control"  disabled="true"
                        id="editedDateTextField"
                        name="editedDate"
                        value="<%= survey.editedDate %>"/>
                    </div>

                    <div class="form-group">
                        <label for="timesViewedTextField">Times Viewed</label>
                        <input type="text" class="form-control" disabled="true"
                        id="timesViewedTextField"
                        name="timesViewed"
                        value="<%= survey.timesViewed %>"/>
                    </div>
                </div>

                <div class="mt-2">
                    <button type="button" class="btn btn-secondary" onclick="return addYesNoQuestion()">
                        <i class="fas fa-plus"></i> Add Yes / No Question
                    </button>
        
                    <a type="button" class="btn btn-secondary"  onclick="return addShortQuestion()">
                        <i class="fas fa-plus"></i> Add Short Question </a>
                </div>
                
                <div style="padding-bottom: 100px;" class="mt-2">
                    <button class="btn btn-primary">
                        <i class="fas fa-edit"></i> Submit
                    </button>
        
                    <a href="/" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
    
                    <a href="/delete/<%= survey._id %>" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Delete</a>
                </div>
                <div id="hiddenValues" >
                    <input type="hidden" class="form-control" value=<%- qArray.length %> 
                    id="questionCounter" name="questionCounter" placeholder="Questions Counter">
                    <input type="hidden" class="form-control" value="ACTIVE"
                    id="status" name="questionStatus" placeholder="Status">
                    <input type="hidden" class="form-control" value=""
                    id="questionType" name="questionType" placeholder="Status">
                </div>
            </form>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>