<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>  

<!--Content for the the Survey Form (take survey)-->

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 style="font-family: Garamond, serif;" class="display-4 mt-3"><%- survey.title%></h1>
            <h6>Created by: <%- survey.creatorName%></h6>
            <h6>Description: <%- survey.description%></h6>
        </div>
    </div>

    <!-- survey form content -->
    <% let qArray = survey.questions %> 
    <form  class="offset-md-3 col-md-6" method="POST" class="form">
        <!-- question loop -->
        <% for (let i = 0; i < qArray.length; i++) { %>
            <div class="fs-5">
                <div class="mt-4">Question <%- i+1 %>: </div>
                <div class="mx-4"><%= qArray[i].questionTitle %> </div>
                <input type="hidden" class="form-control" value="<%- qArray[i].questionTitle %>" 
                    id="questionsTitle" name="qTitle<%-i%>" placeholder="Questions array">
                <div class="mx-4">
                    <% if (qArray[i].type == "YN") { %>  
                        <input type="radio" id="yes" name="responseYN<%= i %>" value=1 required>
                        <label for="yes">Yes</label><br>
                        <input type="radio" id="no" name="responseYN<%= i %>" value=0 required>
                        <label for="no">No</label><br>
                    <% } else { %>
                        <input type="text" id="textInput" name="responseText<%= i %>" size="40" required>
                    <% } %>
                </div>
            </div>
        <% } %>

        <!-- Hidden values -->
        <div id="hiddenValues" >
            <input type="hidden" class="form-control" value=<%- qArray.length %> 
            id="questionsCounter" name="questionCounter" placeholder="Questions Counter">
            
        </div>

        <!-- Form submit and Cancel button -->
        <div style="padding-bottom: 100px;" class="mt-5">
            <button class="btn btn-primary">
                <i class="fas fa-edit"></i> Submit
            </button>
            <!-- <input class="btn btn-primary" type="submit" value="Submit"> -->

            <a href="/" class="btn btn-warning">
                <i class="fas fa-undo"></i> Cancel</a>
        </div>
    </form>
</div>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>